<!DOCTYPE html>
<!--
    Code by Elanis
    Copyright 2017-@DateTime.Now.Year
    Don't copy this without permission
    I hope this code is readable.
-->
<html lang="en">
<head>
    <title>Dehash.me - Hash & Dehash</title>
    <meta name="theme-color" content="#333333">
    <meta charset="UTF-8">
    <!-- On prepare le charset , les mots clés , le fichier css et l'icone du site -->
    <meta name="keywords" content="hash, unhash, encrypt, decrypt, reverse, password, free, blake2s256, blake2b512, md5, md2, md4, md5, mdc2, sha1, sha256 , sha384, sha512, sha512-224, sha512-256, sha3-224, sha3-256, sha3-384, sha3-512, ripemd128, shake128, shake256, sm3, ripemd160, ripemd256, ripemd320, whirlpool">
    <meta name="description" content="Hash texts and reverse hashes instantly and easily !" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="./img/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    @RenderBody()
</body>
</html>
