@{
    var results = (IEnumerable<Dysnomia.DehashMe.Common.Models.SavedHash>)ViewData["Result"];
}

@if (results.Count() == 0) {
    <div style="text-align: center;">No results found in database.</div>
} else {
    <div style="text-align: center;">
        <h3>Results</h3>
    </div>
    <table class="hash-results" aria-describedby="Result list">
        <tr>
            <th scope="col">Text</th>
            <th scope="col">Hash Algorithm</th>
            <th scope="col">Hashed result</th>
        </tr>

        @foreach (var result in results) {
            <tr>
                <td>@result.Text</td>
                <td>@result.Type</td>
                <td>@result.Hash</td>
            </tr>
        }
    </table>
}
