<div id="background">
    <svg id="background-0" class="backgrounds"></svg>
    <svg id="background-1" class="backgrounds"></svg>
    <svg id="background-2" class="backgrounds"></svg>
    <svg id="background-3" class="backgrounds"></svg>
    <svg id="background-4" class="backgrounds"></svg>
    <svg id="background-5" class="backgrounds"></svg>
    <svg id="background-6" class="backgrounds"></svg>
    <svg id="background-7" class="backgrounds"></svg>
    <svg id="background-8" class="backgrounds"></svg>
    <svg id="background-9" class="backgrounds"></svg>
</div>
<div class="corps">
    <header>
        <h1><a href="/">Dehash.me</a></h1>
    </header>
    <section class="disclaimer">
        This website was created to raise awareness on basic hashing weaknesses. This website own and generate its own dictionary. Some tips to developers if you don't want critical data being revealed (and/or dehashed):<br /><br />
        1) Hash your critical data (like passwords), and all data needed to check forms and not needed as is.<br />
        2) Use multiple and strong hashes (like whirlpool, bcrypt or argon2)<br />
        3) Salt your hashes with long and alphanumericals "words", you can generate your salt by hashing multiple times the timestamp of account creation with username for example (but keep the recipe secret !).<br />
        <br /><br />
        <strong><u>Warning:</u></strong> Do not use this website in illegal or millitary purposes. We are not responsible of bad (or illegal) usage of this tool.<br />
    </section>
    <form class="hash-form" method="post">
        <textarea id="searchText" name="searchText" placeholder="Some input text to hash or dehash ...">@ViewData["SearchText"]</textarea>
        <div id="button-group">
            <input type="submit" id="hash" name="hash" value="Hash me !" />
            <input type="submit" id="dehash" name="dehash" value="Dehash me !" />
        </div>
    </form>
    <div class="beforeResult">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Dehash.me - Responsive -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="***REMOVED***"
             data-ad-slot="***REMOVED***"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        <div id="disclaimerMessage" class="disclaimerMessage">
            Hey you !<br />
            Can you disable you adblocker please ?<br />
            This is our only way to finance this website, we promise we won't display more than one ad per page :)<br />
            Thanks and have fun with our tool !
        </div>

        <script type="text/javascript">
            window.addEventListener('load', () => {
                if (window.getComputedStyle(document.getElementsByClassName('beforeResult')[0]).height.charAt(0) === '0') {
                    document.getElementById('disclaimerMessage').style.display = 'block';
                }
            });
        </script>
    </div>

    @if (ViewData["Result"] != null) {
        <partial name="Results" />
    }

    <footer>
        Created by <a href="https://dysnomia.studio" rel="noopener noreferrer" target="_blank">Dysnomia</a> - Copyright 2017-@DateTime.Now.Year<br />
        <span id="hashCount">About 65 million</span> hash stored !<br /><br />
        Our other websites: <a href="https://howtoopen.me">HowToOpen.me</a>
    </footer>

    <script src="~/js/script.js"></script>
</div>